@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
* {
  all: unset;
}
div {
  display: block;
}
a {
  cursor: pointer;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 0.15px;
}
::placeholder {
  color: #9B9C9E;
  font-weight: 500;
font-size: 16px;
line-height: 24px;
}


:root {
  --color-green: #34a853;
  --color-primary: #4285f4;
  --color-black: #0d0f10;
  --color-grey: #cdcecf;
  --color-auth-background: #131619;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  display: block;
}
.auth {
  background-color: var(--color-auth-background);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.form {
  flex-direction: column;
}
.form,
.opinion-auth {
  margin-left: 54px;
}

.opinion-auth {

  &-access {
    margin-left: 21px;
  }
  &__text {
    color: #686B6E;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-top: 48px;
    margin-bottom: 48px;
    display: block;
    position: relative;
    text-align: center;

    &::after, &::before {
      content: "";
      position: absolute;
      width: 185px;
      border: 1px solid #363A3D;
      top: 8px;
      left: 0;
    }
    &::before {
      right: 0;
      left: auto;
    }
  }
  &-btns {
    display: flex;
    &__button {
      display: block;
      max-width: 236px;
      width: 100%;
      box-sizing: border-box;
      padding: 12px 37px 12px 70px;
      background: #1A1D21;
      border-radius: 12px;
      color: #686B6E;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      position: relative;

      &::before {
        content: '';
        background-image: url(../img/Group.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 37px;
        top: 13px;
      }
      &_apple::before {
        background-image: url(../img/Vector.svg) !important;
        top: 11px;
        height: 23px;
      }
    }
  }
}
.authorization-form {
  max-width: 550px;
  margin: 25px;
  width: 100%;
}
.logo {
  width: 32px;
  height: 32px;
  &-registration {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.authorization-background {
  position: relative;
  &__img {
    max-width: 720px;
    width: 100%;
    height: 99vh;
  }
  &-offer {
    position: absolute;
    bottom: 56px;
    left: 56px;
    max-width: 600px;
    &__head {
      color: #FFFFFF;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      display: block;
      margin-bottom: 40px;
    }
    &-author{
      display: flex;
      flex-direction: column;
      &__name{
        color: #FFFFFF;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
      }
      &__post{
        color: #B6F09C;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    } 
  }
}

.offer {
  &-access-in {
    margin-bottom: 64px;
  }
  &__header {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
    display: flex;
    margin-bottom: 24px;
    margin-top: 120px;

    &_access {
      margin-top: 45px;
      display: block;
    }
    &-reg {
      margin-bottom: 65px;
    }

    &_liner {
      margin-left: 10px;
      background: linear-gradient(45deg, #4d62e5 0%, #87ddee 45.31%, #b6f09c 100%);
      font-weight: bold;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #9b9c9e;
    display: block;
    margin-bottom: 25px;
  }
  
}
.auth-form-wrap-input {
  position: relative;

  &::after {
    content: '';
      background-image: url(../img/iconicon-1.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 18px;
      position: absolute;
      top: 15px;
      left: 15px;
  }
  &:first-child::after {
    content: '';
      background-image: url(../img/iconicon.svg);
  }
}
.auth-form {
  &__input {
    width: 100%;
    display: block;
    max-width: 550px;
    height: 48px;
    padding: 19px 18px 19px 52px;
    box-sizing: border-box;
    margin-bottom: 24px;
    border-radius: 8px;
    background: #1a1d21;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(132, 220, 245, 0.24);
    }
    &_error {
      border: 1px solid red;
    }
  }
}
.btn {
  background: #b6f09c;
  border-radius: 12px;
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #0c1132;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  cursor: pointer;
}

.auth-form-check {
  margin-top: 24px;
  margin-bottom: 48px;
}
.checkbox {

  &__check {
    width: 21px;
    height: 21px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    cursor: pointer;
    appearance: auto;
  }
  &__text {
    color: #cdcecf;
    margin-left: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
}
.text-forgot {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  background: linear-gradient(45deg, #82dbf7 0%, #b6f09c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.dont {
  position: fixed;
  bottom: 48px;
  &-reg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 680px;
    & a {
      color: #9B9C9E;
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
    }
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #686B6E;
  }
}

.register-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-wrap-input {
    width: 48%;
    &:first-child::after,
    &::after {
      content: none;
    }
  }
  &__input {
    width: 100%;
    color: red;
    padding-left: 16px;
  }

  &__label {
    color: #9B9C9E;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin-bottom: 16px;
    margin-left: 3px;
  }
}
.registration-form {
  max-width: 680px;
}
.join-form {
  &__input {
    max-width: 480px;
    text-align: right;
    padding-left: 16px;
    padding-right: 143px;
    box-sizing: border-box;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;

    &:first-child::after {
      content: none;
    }
    &::before {
      content: '.artificium.app';
      position: absolute;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      right: 210px;
      color: #686B6E;
      top: 14px;
    }
  }  
}

.btn-join {
  max-width: 172px;
  margin-left: 24px;
}

.opinion-join {
  width: 91%;
  margin-left: 58px;
  &__text {
    margin-top: 38px;
    margin-bottom: 38px;
    &::after, &::before {
      width: 46%;
    }
  }
}

.join-create {
  &__button {
    background: #1A1D21;
    text-align: center;
    border-radius: 12px;
    padding: 8px 24px;
    box-sizing: border-box;
    width: 91%;
    margin-left: 54px;
    color: #9B9C9E;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

    &-text {
      background-color: transparent;
    }
  }
}

.registr-access-form {
  text-align: center;
}
.registr-access-wrap:first-child::after {
  content: none;
}
.access-create {
  width: 100%;
  margin: 0 auto;

  &__button {
    max-width: 120px;
    margin-left: 22px;
  }
}
.dont-access {
  max-width: 560px;
}

.access{
  &-in-users {
    margin-top: 160px;
    margin-bottom: -35px;

    &__img {
      width: 80px;
    }
  }
  &-users {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;

    &-chat {
      margin: 0;

      &__img {
        width: 32px;
        height: 32px;
        margin-left: -15px !important;
      }
    }

    &-count {
      margin-left: 25px;
    }

    &-in {
      align-items: center;
      margin-top: 55px;
      margin-left: 84px;

      &__img {
        width: 50px;
      }
    }
    &__img {
      display: block;
      margin: 0;
      max-width: 64px;
      margin-left: -25px;
    }
  }
}

.form-wrap-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu {
  width: 100%;
  max-width: 312px;
  border-radius: 10px;
  border-radius: 20px;
  background: var(--noble-black-800, #0D0F10);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 98vh;
  margin-right: 12px;
  padding: 12px 12px;
  box-sizing: border-box;

  &-user {
    display: flex;
    flex-direction: column;

    &-list {
      display: flex;
      flex-direction: column;

      &__icon {

        &_add {
          height: 20px;
        }
      }
      &__item {
        display: flex;
        font-weight: 600;
        line-height: 20px;
        font-size: 14px;
        color: #E8E9E9;
        padding: 14px 0 0px 0;
        height: 48px;
        box-sizing: border-box;
        cursor: pointer;
        margin-bottom: 10px;

        &-active {
          border-radius: 16px;
          border-top: 1px solid var(--glass-stroke, rgba(255, 255, 255, 0.08));
          background: var(--glass-fill, linear-gradient(145deg, rgba(215, 237, 237, 0.16) 0%, rgba(204, 235, 235, 0.00) 100%));
        }

        &_add {
          margin-left: 12px;
          img {
            margin-right: 10px;
          }
        }
      }
      &__header {
        font-weight: 600;
        line-height: 18px;
        font-size: 12px;
        color: #686B6E;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
    &-logo {
      display: flex;
      margin-bottom: 28px;
      flex-direction: row;
      gap: 20px;
    }
    &__img {
      width: 48px;
      height: 48px;
      border-radius: 20px;
    }
    &-name {
      &__head {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: white;
      }
      &__members {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: #B6F09C;

      }
    }
  }
}
.user-bottom {
  position: fixed;
  bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 270px;
  padding: 16px 14px;
  box-sizing: border-box;

  &-text {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    width: 48px;
    height: 48px;
  }
}
.flex-wrap {
  display: flex;
}

.chat{
  width: -webkit-fill-available;
  &-top {
    padding: 24px;
    background-color: #0D0F10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    box-sizing: border-box;
    margin-bottom: 2px;

    &:first-child {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
    }
    &-two {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      height: 80px;
      box-sizing: border-box;
      padding-bottom: 0;
    }
    &-items {
      display: flex;
      margin-bottom: 12px;
      gap: 24px;
    }
    &-item {
      display: flex;
      position: relative;
      cursor: pointer;
      &-active {
        .chat-top-item__head {
          color: #B6F09C;
        }
        img {
          fill: #5046e5;
        }
        &::after {
          content: "";
          background-color: #B6F09C;
          max-width: 116px;
          width: 100%;
          height: 2px;
          position: absolute;
          top: 49px;
          left: 9px;
        }
      }
      &__head {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #9B9C9E;
        &::after {
          content: "";
          background-color: #B6F09C;
          max-width: 116px;
          width: 0%;
          height: 2px;
          position: absolute;
          top: 49px;
          left: 9px;
        }
        &:hover::after {
          width: 100%;
          transition-duration: 0.5s;
        }
      }
    }
    &-icon {
      display: flex;
      margin-left: 24px;
      &__text {
        color: #686B6E;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        margin-left: 10px;
      }

      &__edit {
        width: 25px;
        height: 25px;
        padding: 6px;
        background-color: #1A1D21;
        border-radius: 10px;
      }
    }
    &-name {
      &__header {
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        color: white;
      }
      &__text {
        font-size: 14px;
        color: #9B9C9E;
        font-weight: 500;
        line-height: 20px;
        display: block;
      }
    }
  }
  &-offer {
    text-align: center;
    max-width: 710px;
    margin: 0 auto;

    &__header {
      margin-top: 35px;
      display: block;
    }
  }

  &-options {
    display: flex;
    justify-content: space-around;
  }
  &-option {
    display: flex;
    flex-direction: column;
    width: 23%;
    &__header {
      margin: 16px 0 32px 0;
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
    }
    &__icon {
      width: 48px;
      height: 48px;
      margin: 0 auto;
      padding: 20px 9px 0px 9px;
      border-radius: 56px;
      background: var(--glass-fill, linear-gradient(145deg, rgba(215, 237, 237, 0.16) 0%, rgba(204, 235, 235, 0.00) 100%));
      box-shadow: 0px 0px 64px 0px rgba(182, 240, 156, 0.16);
    }
  }
  &-input {
    display: flex;
    width: 73%;
    height: 74px;
    align-items: center;
    border-radius: 20px;
    background-color: #0D0F10;
    padding: 24px;
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    max-width: 999px;
    &__icon {
      height: 18px;
      width: 18px;
    }
    &-icons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 56px;
      align-items: center;
    }
    &__send {
      width: 88%;
      padding-left: 80px;
      box-sizing: border-box;
      color: #9B9C9E;
    }
  }
}
.option {
  padding: 16px;
  border-radius: 12px;
  border-top: 1px solid var(--glass-stroke, rgba(255, 255, 255, 0.08));
  background: var(--glass-fill, linear-gradient(145deg, rgba(215, 237, 237, 0.16) 0%, rgba(204, 235, 235, 0.00) 100%));
  margin-bottom: 8px;
  position: relative;

  &::after {
    content: "";
    background-image: url(../img/arrow-right.svg);
    position: absolute;
    top: 20px;
    right: 10px;
    width: 16px;
    height: 16px;
  }
  &__head {
    color: #CDCECF;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
}

.container:has(> .menu) {
  display: flex;
}