<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Artificium || Login</title> -->
</head>

<body class="auth">
    <div id="app">

    </div>
    <section class="section-auth">
        <div class="container">
            <div class="authorization flex">
                <div class="authorization-form registration-form">
                    <div class="logo">
                        <img class="logo__img" src="img/Logo.svg" alt="logo">
                    </div>
                    <div class="form flex">
                        <div class="offer">
                            <h1 class="offer__header">Join or Create a Workspace</h1>
                            <p class="offer__text">Connect with others by joining an existing workspace or create a new
                                one to collaborate with your team.</p>
                        </div>
                        <form action="" class="auth-form">
                            <div class="auth-form-wrap-input join-form-wrap">
                                <input type="text" name="url" class="auth-form__input join-form__input"
                                    placeholder="Your workspace URL">
                                <button class="btn btn-join" type="submit">Join Workspace</button>
                            </div>
                        </form>
                    </div>
                    <div class="opinion-auth opinion-join">
                        <span class="opinion-auth__text opinion-join__text">or</span>
                    </div>
                    <div class="join-create">
                        <button type="button" class="join-create__button">Create new Workspace</button>
                    </div>
                    <div class="dont dont-reg dont-join">
                        <div class="dont__text">Artificium.app © 2023</div>
                        <a class="dont__text_sign">Privacy Policy</a>
                    </div>
                </div>
                <div class="authorization-background">
                    <img class="authorization-background__img" src="img/Illustration-3.png" alt="bacground">
                </div>
            </div>
        </div>
    </section>
</body>

</html>