<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Artificium || Login</title> -->
</head>

<body class="auth">
    <div id="app">

    </div>
    <section class="section-auth">
        <div class="container">
            <div class="authorization flex">
                <div class="authorization-form registration-form">
                    <div class="logo logo-registration">
                        <img class="logo__img" src="img/Logo.svg" alt="logo">
                        <a href="#" class="logo__text text-forgot">Log in</a>
                    </div>
                    <div class="form flex">
                        <div class="offer">
                            <h1 class="offer__header offer__header-reg">Connect with your team and bring your creative
                                ideas to life.</h1>
                        </div>
                        <form action="" class="auth-form register-form">
                            <div class="auth-form-wrap-input register-form-wrap-input">
                                <label for="firstname" class="register-form__label">Firstname</label>
                                <input id="firstname" type="text" name="firstname"
                                    class="auth-form__input register-form__input" placeholder="Email">
                            </div>
                            <div class="auth-form-wrap-input register-form-wrap-input">
                                <label for="lastname" class="register-form__label">Lastname</label>
                                <input id="lastname" type="text" name="lastname"
                                    class="auth-form__input register-form__input" placeholder="Email">
                            </div>
                            <div class="auth-form-wrap-input register-form-wrap-input">
                                <label for="password" class="register-form__label">Password</label>
                                <input id="password" type="password" name="password"
                                    class="auth-form__input register-form__input" placeholder="Password">
                            </div>
                            <div class="auth-form-wrap-input register-form-wrap-input">
                                <label for="repassword" class="register-form__label">Repeat password</label>
                                <input id="repassword" type="password" name="password"
                                    class="auth-form__input register-form__input" placeholder="Password">
                            </div>
                            <div class="auth-form-check flex">
                                <div class="checkbox flex">
                                    <input type="checkbox" class="checkbox__check">
                                    <p class="checkbox__text">I agree with <a class="text-forgot">Terms and
                                            conditions</a></p>
                                </div>
                            </div>
                            <button class="btn" type="submit">Create free account</button>
                        </form>
                    </div>
                    <div class="dont dont-reg">
                        <div class="dont__text">Artificium.app © 2023</div>
                        <a class="dont__text_sign">Privacy Policy</a>
                    </div>
                </div>
                <div class="authorization-background">
                    <img class="authorization-background__img" src="img/Illustration3.jpg" alt="bacground">
                </div>
            </div>
        </div>
    </section>
</body>

</html>